
.background {


    background: linear-gradient(to bottom left, #FF0080 0%, #0000FF  100%);
    /*background-color: #282c34;*/
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    /*align-items: center;
    justify-content: center;*/
    font-size: calc(10px + 2vmin);
    color: white;
}

.voco_heading {
    padding: 2rem;

}

.chatContainer {
    height: 550px;
    width: 550px;
    margin-left: 30rem;
    padding-top: 2rem;
    border-radius: 7px;
    text-align: center;
    background-color: #222;
}


.chatBox {
    background: #555;
    margin: 1.5rem;
    border-radius: 7px;
    height: 4.5rem;
    font-size: 12px;
}

.input_field {
    height: 70px;
    width: 550px;
    color: black;
    border-radius: 0px 0px 7px 7px;
    text-align: left;
    background-color: white;

}

.IF {
    width: 400px;
    height: 63px;
    border-color: white;
    border-style: solid;
    border-left-color: black;
    padding-left: 1.5rem;
}

.input_name {
    padding: 1rem;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;


}

.send_btn {
    border-color: white;
    border-width: 3px;
    background: Transparent;
    color: white;
    margin-left: 450px;
    border-radius: 7px;
    width: 100px;
    height: 40px;
    font-size: 17px;
    font-weight:bold;
    font-family: sans-serif;
    margin-top: 2rem;
    border-style: solid;

}